<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <Title>Gord Cooke | Welcome</Title>
  <META HTTP-EQUIV="Content-Type" content="text/html; charset=utf-8" />
  <META NAME="keywords" CONTENT="">
  <META NAME="description" CONTENT="">
  <META HTTP-equiv="Pragma" CONTENT="no-cache">
  <META NAME="Distribution" CONTENT="global">
  <META NAME="Rating" CONTENT="general">
  <META HTTP-EQUIV="Content-Language" CONTENT="FR-CA">
  <META NAME="revisit-after" CONTENT="5 days">
  <META NAME="robots" CONTENT="ALL">
  <META NAME="author" CONTENT="Emsolutions - http://www.emsolutions.ca">
  <META NAME="copyright" CONTENT="Emsolutions - Copyright © 2008">
  <META NAME="Publisher" CONTENT="Emsolutions">
  <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="header">
	<div id="logo"><a href="/index.php" title="Gord Cooke - Building Knowledge"><img src="/images/small_logo.gif" alt="Gord Cooke - Building Knowledge" width="171" height="100" /></a></div>
	
	<div id="menu_container">
		<div id="mainmenu">
      <div class="button" style="padding-left:104px;"><a href="/profile.php">profile</a></div>
      <div class="button" style="padding:0px;width:100px;text-align:center;"><a href="/services_offred.php">services</a></div>
      <div class="button"><a href="cooke-report.php">cooke report</a></div>
      <div class="button"><a href="events.php">events</a></div>
      <div class="button" style="padding:0px;width:140px;text-align:center;"><a href="media-room_news.php">media room</a></div>
      <div class="button" style="border-right:none;"><a href="contact-us.php">contact</a></div>
    </div>
	</div>
</div>

<r:content />

<div id="footer">
	<div id="footermenu">
		<div id="footertxt">
			<a href="/index.php">Home</a> | <a href="/profile.php">Profile</a> | <a href="/services_offred.php">Services</a> | <a href="cooke-report.php">Cooke Report</a> | <a href="events.php">Events</a> | <a href="media-room_news.php">Media Room</a> | <a href="contact-us.php">Contact Us</a> | <a href="sitemap.php">Site Map</a> | <a href="privacy-policy.php">Privacy Policy</a><br/><br/>
        <span class="copyright">© 2009 All Rights Reserved. <a href="http://www.gordcooke.com" style="font-size:10px;">GordCooke.com </a></span></div>
	</div>
</div>

</body>
</html>