<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<Title>Gord Cooke | Welcome</Title>
<META HTTP-EQUIV="Content-Type" content="text/html; charset=utf-8" />
<META NAME="keywords" CONTENT="">
<META NAME="description" CONTENT="">
<META HTTP-equiv="Pragma" CONTENT="no-cache">
<META NAME="Distribution" CONTENT="global">
<META NAME="Rating" CONTENT="general">
<META HTTP-EQUIV="Content-Language" CONTENT="FR-CA">
<META NAME="revisit-after" CONTENT="5 days">
<META NAME="robots" CONTENT="ALL">
<META NAME="author" CONTENT="Emsolutions - http://www.emsolutions.ca">
<META NAME="copyright" CONTENT="Emsolutions - Copyright © 2008">
<META NAME="Publisher" CONTENT="Emsolutions">
<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="header">

<div id="gord-cooke-text">
  <table width="100%" border="0" cellspacing="0">
    <tr>
      <td><h1>WELCOME</h1>
        <p>Welcome to my website that is dedicated to helping the building industry and trade contractors build, renovate and sell more efficient, comfortable, healthier and more durable homes. As a professional engineer, trainer, author and industry consultant for the last 25 years, I have had the pleasure of working with great building professionals across North America who are dedicated to a path of continual improvement. <strong><a href="profile.php">Read more</a></strong> <img src="/images/arrow-white.png" width="8" height="7" /><br />
        </p></td>
      <td width="201"><img src="/images/gord-cooke.png" width="201" height="265" /></td>
    </tr>
  </table>
</div>

	<div id="logo"><a href="/index.php" title="Gord Cooke - Building Knowledge"><img src="/images/small_logo.gif" alt="Gord Cooke - Building Knowledge" width="171" height="100" /></a></div>
	<div id="menu_container">
		<div id="mainmenu">
      <div class="button" style="padding-left:104px;"><a href="/profile.php">profile</a></div>
      <div class="button" style="padding:0px;width:100px;text-align:center;"><a href="/services_offred.php">services</a></div>
      <div class="button"><a href="cooke-report.php">cooke report</a></div>
      <div class="button"><a href="events.php">events</a></div>
      <div class="button" style="padding:0px;width:140px;text-align:center;"><a href="media-room_news.php">media room</a></div>
      <div class="button" style="border-right:none;"><a href="contact-us.php">contact</a></div>
    </div>
	</div>
</div>

<div id="container_home">
	<div><img src="/images/spacer.gif" width="20" height="235" /></div>
	<div id="homebox">
    	<div id="homebox1">
    	  <img src="/images/titles/home_cookereport.png" width="259" height="39" /><br />
   	      <p>And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an when an unknown printer took a galley of type and scrambled it to make a type specimen book. Remaining essentially unchanged. <span class="readmore"><a href="#">Read more</a></span> <img src="/images/arrow-black.png" width="9" height="7" /><br />
   	      </p>
          
          <form id="form" name="form" method="post" action="">
   	      <table border="0" cellspacing="0" cellpadding="0">
   	        <tr>
   	          <td colspan="2"><p class="signup" style="margin:0px;padding:0px;padding-bottom:3px;">Sign-up for our Newsletter</p></td>
            </tr>
   	        <tr>
   	          <td><input name="textfield" type="text" id="textfield" value="EMAIL" style="width:150px;" /></td>
   	          <td><input name="button" type="image" id="button" value="Submit" src="/images/b_submit.gif" /></td>
            </tr>
          </table>
          </form>
      </div>
        <div id="homebox2">
        	<div class="small-side-box">
            	<div style="padding:9px;padding-left:12px;padding-right:12px;">
            	  <img src="/images/titles/home_upcomming-events.png" width="151" height="19" /><br />
            	    <p>Lorem ipsum dolor Remaining essentially unchanged. <span class="readmore"><a href="#">Read more</a></span> <img src="/images/arrow-black.png" width="9" height="7" /></p>
            	  <p>Lorem ipsum dolor Remaining essentially unchanged. <span class="readmore"><a href="#">Read more</a></span> <img src="/images/arrow-black.png" width="9" height="7" /></p>
            	</div>
            </div>
            <div class="small-side-box">
            	<div style="padding:9px;padding-left:12px;padding-right:12px;"><img src="/images/titles/home_in-the-media.png" width="111" height="16" /><br />
            	  <p>Lorem ipsum dolor Remaining essentially unchanged. <span class="readmore"><a href="#">Read more</a></span> <img src="/images/arrow-black.png" width="9" height="7" /></p>
                  <p>Lorem ipsum dolor Remaining essentially unchanged. <span class="readmore"><a href="#">Read more</a></span> <img src="/images/arrow-black.png" width="9" height="7" /></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
	<div id="footermenu">
		<div id="footertxt">
			<a href="/index.php">Home</a> | <a href="/profile.php">Profile</a> | <a href="/services_offred.php">Services</a> | <a href="cooke-report.php">Cooke Report</a> | <a href="events.php">Events</a> | <a href="media-room_news.php">Media Room</a> | <a href="contact-us.php">Contact Us</a> | <a href="sitemap.php">Site Map</a> | <a href="privacy-policy.php">Privacy Policy</a><br/><br/>
        <span class="copyright">© 2009 All Rights Reserved. <a href="http://www.gordcooke.com" style="font-size:10px;">GordCooke.com </a></span></div>
	</div>
</div>

</body>
</html>