<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<Title>Gord Cooke | In the News</Title>
<META HTTP-EQUIV="Content-Type" content="text/html; charset=utf-8" />
<META NAME="keywords" CONTENT="">
<META NAME="description" CONTENT="">
<META HTTP-equiv="Pragma" CONTENT="no-cache">
<META NAME="Distribution" CONTENT="global">
<META NAME="Rating" CONTENT="general">
<META HTTP-EQUIV="Content-Language" CONTENT="FR-CA">
<META NAME="revisit-after" CONTENT="5 days">
<META NAME="robots" CONTENT="ALL">
<META NAME="author" CONTENT="Emsolutions - http://www.emsolutions.ca">
<META NAME="copyright" CONTENT="Emsolutions - Copyright © 2008">
<META NAME="Publisher" CONTENT="Emsolutions">
<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="header">
  <div id="logo"><a href="/" title="Gord Cooke - Building Knowledge"><img src="/images/logo.gif" alt="Gord Cooke - Building Knowledge" width="171" height="130" /></a></div>
  <r:snippet name="main-menu" />
</div>

<div id="container_inner">
<r:content />
<div style="clear:both;"></div>
</div>

<r:snippet name="footer" />

</body>
</html>